.btn {
    height:66px;
    max-height: 40px !important;
    font-size: medium;
    vertical-align: middle;
    color: white;
    background-color: #278CD3;
}

.float-right{
    float:right!important
}

.row {
    margin-bottom: 10%;
}

.padding {
    padding-right: 20px;
}

.padding-left {
    padding-left: 20px;
}
