<h1>Life Manager Assessment Tests</h1>

<!-- Home page links to assessment tests-->
<div class="home-nav">
    <div class="nav-row"><a (click)="openPraPlus($event);">PraPlus</a> 
        <span class="small">{{ count }} question(s) completed out of {{ totalCount }}</span>
        <span *ngIf="praplusTestCompleted === 'true'" class="test-completed"> - (test completed {{ praplusTestCompletedDate }})</span></div>

    <div class="nav-row"><a (click)="openPromis($event);">Promis</a>
        <span class="small">{{ count2 }} question(s) completed out of {{ totalCount }}</span>
        <span *ngIf="promisTestCompleted === 'true'" class="test-completed"> - (test completed  {{ promisTestCompletedDate }})</span></div>

    <div class="nav-row"><a (click)="openHealthHistory($event);">Health History</a>
        <span class="small">{{ count3 }} question(s) completed out of {{ totalCount }}</span>
        <span *ngIf="healthhistoryTestCompleted === 'true'" class="test-completed"> - (test completed  {{ healthhistoryTestCompletedDate }})</span></div>
</div>